[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/Better-CSS-Syntax-for-Vim"]
	path = bundle/Better-CSS-Syntax-for-Vim
	url = https://github.com/ChrisYip/Better-CSS-Syntax-for-Vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
